document-conversion/workflow.json
{
  "name": "Document Conversion to PDF/Images (Uploadcare)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "uploadcare-convert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.uploadcare.com/base/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "UPLOADCARE_PUB_KEY",
              "value": "YOUR_PUBLIC_KEY"
            },
            {
              "name": "UPLOADCARE_STORE",
              "value": "1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000002",
      "name": "Upload Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.uploadcare.com/convert/document/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Uploadcare.Simple YOUR_PUBLIC_KEY:YOUR_SECRET_KEY"
            },
            {
              "name": "Accept",
              "value": "application/vnd.uploadcare-v0.7+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"paths\": [\n    \"{{ $json.file }}/document/-/format/pdf/\"\n  ],\n  \"store\": \"1\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000003",
      "name": "Start Conversion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-token-1",
              "name": "token",
              "value": "={{ $json.result[0].token }}",
              "type": "string"
            },
            {
              "id": "set-source-1",
              "name": "sourceUuid",
              "value": "={{ $json.result[0].original_source.split('/')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000004",
      "name": "Extract Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000005",
      "name": "Wait for Conversion",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.uploadcare.com/convert/document/status/{{ $('Extract Token').first().json.token }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Uploadcare.Simple YOUR_PUBLIC_KEY:YOUR_SECRET_KEY"
            },
            {
              "name": "Accept",
              "value": "application/vnd.uploadcare-v0.7+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000006",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-finished-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "finished",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000007",
      "name": "Conversion Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-uuid-1",
              "name": "convertedUuid",
              "value": "={{ $json.result.uuid }}",
              "type": "string"
            },
            {
              "id": "set-cdnurl-1",
              "name": "convertedUrl",
              "value": "=https://2ta6v1zvst.ucarecd.net/{{ $json.result.uuid }}/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000008",
      "name": "Build Output URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "recipient@example.com",
        "subject": "Your converted PDF is ready",
        "emailType": "text",
        "message": "=Your document has been converted to PDF.\n\nDownload it here: {{ $json.convertedUrl }}",
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000009",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"done\", \"url\": $json.convertedUrl } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000010",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0000-4000-8000-000000000011",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "Start Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Conversion": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "Wait for Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Conversion": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Conversion Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion Finished?": {
      "main": [
        [
          {
            "node": "Build Output URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Output URL": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}